*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f5f0;
}

.container{
    text-align: center;
}

.container h2{
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    margin-bottom: 24px;
}

.color {
    color: #49a6e9;
}

.button {
    background-color: transparent;
    padding: 8px;
    border: 2px solid #222;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #222;
    outline: none;
    cursor: pointer;
}

.button:hover{
    background-color: #222;
    color:#ffffff;
    transition: all 0.3s ease-in;
}